@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="contenedor__login-register">
        <form asp-action="Login" method="post" class="formulario__login">
            <h2>Iniciar Sesión</h2>
            <input asp-for="Correo" placeholder="Correo" />
            <input asp-for="Contraseña" type="password" placeholder="Contraseña" />
            <div class="alert alert-warning" role="alert" id="error-message-login"></div>
            <button type="submit">Entrar</button>
        </form>
    </div>

    <script src="~/js/login-register.js"></script>
</body>
</html>