@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="~/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="contenedor__login-register">
        <form asp-action="Register" method="post" class="formulario__register">
            <h2>Registrarse</h2>
            <input asp-for="Nombre" placeholder="Nombre" />
            <input asp-for="Apellido" placeholder="Apellido" />
            <input asp-for="NombreDeUsuario" placeholder="Nombre de Usuario" />
            <input asp-for="Consultorio" placeholder="Consultorio" />
            <input asp-for="Correo" placeholder="Correo electrónico" />
            <input asp-for="Contrasena" type="password" placeholder="Contraseña" />
            <input asp-for="ConfirmarContrasena" placeholder="Confirmar Contraseña" />
            <select asp-for="Rol" class="form-select">
                <option value="" selected>Selecciona:</option>
                <option value="Administrador">Administrador</option>
                <option value="Asistente">Asistente</option>
            </select>
            <div class="alert alert-warning" role="alert" id="error-message-register"></div>
            <button type="submit">Registrarse</button>
        </form>
    </div>

    <script src="~/js/login-register.js"></script>
</body>
</html>